@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to Our Website!</h1>
            <p class="lead">Here you can create personal notes and share your thoughts with the world through public posts. Start expressing yourself today!</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">What You Can Do Here:</h2>
            <ul class="list-unstyled">
                <li>TEST PIPLINES</li>
                <li>Share your experiences and ideas with the community through public posts.</li>
                <li>Engage with others by commenting on public posts.</li>
            </ul>
        </div>
    </div>
</div>
