@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <h1>Privacy Policy</h1>
    <p><strong>Information Collection:</strong> We collect information about you when you register on our website or leave comments. This data includes your name, email address, and other information you provide.</p>

    <p><strong>Use of Information:</strong> The collected data is used to enhance your experience on the website and provide personalized content.</p>

    <p><strong>Disclosure to Third Parties:</strong> We do not disclose your personal data to third parties without your consent, except as required by law.</p>

    <p><strong>Data Protection:</strong> We take security measures to protect your personal information from unauthorized access or use.</p>

    <p><strong>Data Management:</strong> You can request the deletion of your data by contacting us using the provided contact information.</p>

    <p><strong>Consent and Changes to Privacy Policy:</strong> By continuing to use our website, you agree to our privacy policy. We may periodically update this policy, and you will be provided the opportunity to review changes.</p>
</body>