@{
    ViewData["Title"] = "Error";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger" role="alert">
        <h1>Error</h1>
        <p style="font-size: 32px;">@ViewData["ErrorMessage"]</p>
    </div>    
</body>